body {
    margin: 0;
    background: url('../assets/background.jpg');
    background-size: stretch;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
.table-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 90%;
}
.group-table {
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.group-container {
    flex: 1;
}
.table-row:nth-child(even) {
    background:rgba(239,83,80, 0.6);
}
.table-row:nth-child(odd) {
    background: rgba(30,136,229, 0.6);
}
.app-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
}

.group-table td,
.group-table th {
    padding: 10px 0;
    font-size: 12px;
}

.current-match {
    height: 20vh;
    display: flex;
    width: 30%;
    align-items: center;
}

.team {
    flex-grow: 1;
    height: 100%;
    display: flex;
    padding: 10px;
}

.dash {
    height: 0;
    width: 20px;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
}

.team-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-team {
    text-align: right;
}

#away-team {
    flex-direction: row-reverse;
}

.matches-today {
    width: 90%;
    text-align: center;
}

.matches-table {
    margin: auto;
}

.home {
    text-align: right;
}

.away {
    text-align: left;
}

.match-row > td {
    padding: 10px;
    font-weight: bold;
}

.loader-container {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 16px solid rgba(239,83,80, 1); /* Light grey */
    border-top: 16px solid rgba(30,136,229, 1); /* Blue */
    border-bottom: 16px solid rgba(30,136,229, 1); /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}